body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
.maindiv{
    background-color: wheat;
    width: 100%;
    height: 100%;
    display: flex;
}
.formdiv{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagediv{
    height: 100%;
    width: 50%;
    background-color: rgb(73, 43, 43);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
    

input{
    height: 48px;
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    color: rgb(1, 11, 19);
    display: flex;
    
}
button{
    width: 100%;
    height: 48px;
    margin: 18px;
    background-color: #1bb37b;
    border: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    height: 100%;
    width: 100%;
}
label{
    align-self: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h4{
    align-self: baseline;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: rgb(20, 14, 204);
}